@import "./components/material-icons";
@import "./components/inputs";

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
  font-family: "Roboto", sans-serif;
}

.main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  .header {
    background: red;
    height: 50px;
    grid-column: 1/7;
    #headerContent {
      width: 100%;
      float: left;
      .searchBox {
        width: 35%;
        max-width: 500px;
        margin: 0 auto;
      }

      .newTask {
        width: 30px;
        height: 30px;
      }
    }
  }

  .aside {
    position: relative;
    top: 10px;
    background: #f3f3f3;
    grid-column: 2/3;
    padding: 10px;

    hr {
      border: solid 1px black;
      width: 80%;
      margin: 0 auto;
    }

    li {
      list-style: none;
      margin-bottom: 7px;
      width: 100%;
      &:hover {
        background: white;
      }

      a {
        width: 100%;
        text-decoration: none;
        border-radius: 5px;
        color: black;
      }
    }
  }

  .content {
    position: relative;
    top: 10px;
    padding: 10px;
    background: #ffffff;
    grid-column: 3/6;
    .date {
      display: block;
      h1 {
        display: inline;
      }

      span {
        font-size: 0.9em;
        position: relative;
        top: 5px;
        left: 3px;
      }
    }

    .listTask {
      border-bottom: rgba(0, 0, 0, 0.3) 1px solid;
      padding-top: 1px;
      padding-bottom: 4px;
      input:checked + label > span {
        text-decoration-line: line-through;
        text-decoration-color: black;
      }
    }
  }

  .footer {
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000000;
    grid-column: 1/7;
    height: 50px;
    color: #ffffff;

    align-content: center;
  }
}

.marked {
  background: #ffffff;
  color: black;
  width: 100%;
}
